# fly.toml app configuration file generated for the-mosaical-hololtih on 2026-02-03T03:56:23Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'the-mosaical-hololtih'
primary_region = 'gru'

[build]

[deploy]
  release_command = "sh -lc 'npx prisma migrate deploy && npx prisma db seed'"



[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']  
  [[http_service.checks]]
    interval = "30s"
    timeout = "5s"
    grace_period = "10s"
    method = "GET"
    path = "/api/v1/health/ready"
  

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
